* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* || CONSTANT */
:root {
    --OUT-BGCOLOR: #0B2434;
    --IN-BGCOLOR: #F5F5F5;
}

/* || BODY */
body {
    display: flex;
    position: absolute;
    top: 25%;
    left: 20%;
    font-family: Karla;
}


/* || MAIN */
.main {
    background-color: var(--OUT-BGCOLOR);
    padding: 30px 20px 29px 20px;
    width: 360px;
    height: 379px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__inner {
    padding: 33.28px 34.56px 33.92px 34.56px;
    background-color: var(--IN-BGCOLOR);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    color: #2B283A;
    text-align: center;
    
    font-size: 25.6px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.768px;
}

.main__instruction {
    color: #4A4E74;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.393px;
    width: 230px;
}

.dice {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 18px;
    color: #2B283A;
}

.dice__number {
    width: 35.84px;
    height: 35.84px;
    border-radius: 3.813px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}



.main__button {
    margin-top: 30px;
    width: 92px;
    height: 35px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    background-color: #5035FF;
    border-radius: 7px;
}

.main__button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}