* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || Utility */

.nowrap {
    white-space: nowrap;
}

/* || Navbar */

nav {
    display: flex;
    justify-content: space-between;
    background-color: #21222A;
}

nav > div {
    display: flex;
    margin: 30px;
}

.nav__img {
    margin-right: 10px;
}

.nav__pleft {
    color: #61DAFB;
    font-family: Inter;
    font-size: 22.253px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav__pright {
    color: #DEEBF8;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 5px;
}