* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

/* || CONSTANT */
:root {
    --HERO-MARGIN: 16px;
}

.gray {
    color: #918E9B;
}

.bold {
    font-weight: bold;
}

/* || NAVBAR */

nav {
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav__img {
    margin-left: 30px;
}

/* || HERO */

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero__img {
    margin-top: 12px;
    max-width: 75%;
    align-self: center;
    margin-bottom: 16px;
}

.hero__title {
    color: #000;
    margin-left: var(--HERO-MARGIN);
    font-size: 36px;
    font-weight: 600;
    line-height: 110%; /* 39.6px */
}

.hero__content {
    color: #222;
    margin-left: var(--HERO-MARGIN);
    margin-top: 10px;
    max-width: 320px;
    font-size: 16px;
    font-weight: 300;
    line-height: 110%; /* 17.6px */
}


/* || CARD */
.cards__list {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}


.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card__image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card__stats {
    display: flex;
    align-items: center;
}

.card__star {
    width: 14px;
}

.card__title {
    text-overflow: ellipsis;
    padding-top: 5px;
    padding-bottom: 4px;
}

.card__badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 5px;
}